table {
    width: 100%;
    max-width: 1200px;
    border-spacing: 40px;
}

th {
    text-align: left;
}

th:last-child {
    text-align: right;
}

td {
    vertical-align: top;
}

td.cart-item-details {
    display: flex;
    gap: 40px;
    text-align: left;
}

td.align-right {
    text-align: right;
}

.item-image-container > img {
    width: 80px;
    height: 80px;
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-details > p {
    margin: 0;
}